* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}
